.c1{
    display: inline-block;
}
.b1{
    width: 200px;
    height: 60px;
    background-color: yellow;
    color: green;
    border: double 5px blue;
    border-radius: 10px;
}
.b2{
    width: 300px;
    height: 300px;
    background-color: purple;
    color: aqua;
    border: 12px dotted red;
    border-radius: 200px;

}
.b3{
    width: 100px;
    height: 30px;
    background-color: red;
    color: orange;
    border: solid 3px purple;
    border-radius: 30px;
}

.b4{
    width: 300px;
    height: 300px;
    background-color: purple;
    color: aqua;
    border: 12px dotted red;
    border-radius: 200px;

}
.b5{
    width: 300px;
    height: 90px;
    background-color: blue;
    color: navy;
    border: dashed 7px yellow;
    border-radius: 10px;
}